
## Grunt dependancies
node_modules

## Built Jekyll site
docs/_site
docs/.jekyll-metadata
docs/theme/jqm/sheet.php
docs/theme/bootstrap/sheet.php


## Build folder
dist

## Personal todo list
TODO

node_builder/src
